html
    head
        title=title
        link(rel='stylesheet', href='/css/stat-block.css')
        meta(name='viewport' content='windth=device-width, initial-scale=1')
        meta(charset='UTF-8')
        link(rel="import" href="/top-stats.html")
        link(rel="import" href="/creature-heading.html")
        link(rel="import" href="/abilities-block.html")
        link(rel="import" href="/property-block.html")
        link(rel="import" href="/property-line.html")
        link(rel="import" href="/stat-block.html")
    body
        stat-block
            creature-heading
                h1 Animated Armor
                h2 Medium construct, unaligned
            top-stats
                property-line
                    h4 Armor Class
                    p 18 (natural armor)
                property-line
                    h4 Hit Points
                    p 33 (6d8 + 6)
                property-line
                    h4 Speed
                    p 25ft
                abilities-block(data-str="14" data-dex="11" data-con="13" data-int="1" data-wis="3" data-cha="1")
                property-line
                    h4 Damage Immunities
                    p poison, psychic
                property-line
                    h4 Condition Immunities
                    p blinded, charmed, deafened, exhaustion, frightened, paralyzed, petrified, poisoned
                property-line
                    h4 Senses
                    p blindsight 60 ft. (blind beyond this radius), passive Perception 6
                property-line
                    h4 Languages
                    p -
                property-line
                    h4 Challenge
                    p 1 (200 XP)
            property-block
                h4 Antimagic Susceptibility.
                p The armor is incapacitated while in the area of an <i>antimagic field</i>.  If targeted by <i>dispel magic</i>, the armor must succeed
                  on a Constitution saving throw against the caster’s spell save DC or
                  fall unconscious for 1 minute.
            property-block
                h4 False Appearance.
                p While the armor remains motionless, it is indistinguishable from a
                  normal suit of armor.
            h3 Actions
            property-block
                h4 Multiattack
                p The armor makes two melee attacks.
            property-block
                h4 Slam
                p <i>Melee Weapon Attack:</i> +4 to hit, reach 5 ft., one target.<i>Hit:</i> 5 (1d6 + 2) bludgeoning damage.
